body{
    display: flex;
}

button{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
}

.barre-contenu{
    float: left;
    width: 12%;
    min-width: 12%;
    min-height: 100vh;
    position: fixed;
}


.main{
    float: right;
    flex: 1 1 100%;
    margin-left: 15%;
}

.ligne{
    display: flex;
	max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.description{
    float: left;
    width: 50%;
    background-color: white;
    min-height: fit-content;
    min-width: 300px;
    flex: 1 1 200px;
    
}

.contenu{
    float: right;
    width: 50%;
    background-image: radial-gradient(#ffe6e1 20%, #ffffff 20%);
    background-position: 0 0;
    background-size: 40px 40px;
    margin-top: 10%;
    margin-bottom: 10%;
    min-height: fit-content;
    flex: 1 1 200px;
}

@media only screen and (max-device-width: 640px) {
    .barre-contenu{
        visibility: hidden;
        width: 0%;
    }  
    .ligne {
		flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
	} 
    .contenu{width: 100%;}
    .description{width: 100%;}
    .main{margin-left: 0%;}
}

@media (max-width: 1200px) {
    .ligne {
		flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
	} 
    .contenu{width: 100%;}
    .description{width: 100%;}
}

@media (max-width: 900px) {
    .barre-contenu{
        visibility: hidden;
        width: 0%;
    }  
    .ligne {
		flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
	} 
    .contenu{width: 100%;}
    .description{width: 100%;}
    .main{margin-left: 0%;}
}



h1{
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
}
h2{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
    text-align: center;
}
h3{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
    color: gray;
}