body{display: flex;}

.barre-contenu{
    background: linear-gradient(321deg, rgba(0,252,255,1) 0%, rgba(49,150,253,1) 37%, rgba(62,125,253,1) 59%, rgba(21,57,245,1) 87%, rgba(36,0,255,1) 100%); 
    background-blend-mode: screen;
    background-size: cover;
    float: left;
    width: 13%;
    min-height: 100vh;
}


.main{
    float: right;
    flex: 1 1 100%;
    margin-left: 2%;
    margin-right: 2%;
}

.ligne{
    display: flex;
	max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.description{
    float: left;
    width: 50%;
    background-color: brown;
    min-height: fit-content;
    min-width: 300px;
    max-height: 500px;
    flex: 1 1 200px;
    
}

.contenu{
    float: right;
    width: 50%;
    background-color: burlywood;
    min-height: fit-content;
    
    max-height: 500px;
    flex: 1 1 200px;
}

@media only screen and (max-device-width: 640px) {
    .barre-contenu{
        visibility: hidden;
        width: 0%;
    }  
    .ligne {
		flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
	} 
    .contenu{width: 100%;}
    .description{width: 100%;}
}

@media (max-width: 900px) {
    .barre-contenu{
        visibility: hidden;
        width: 0%;
    }  
    .ligne {
		flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
	} 
    .contenu{width: 100%;}
    .description{width: 100%;}
}



h1{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
}
h3{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    text-rendering: geometricPrecision;
}
